  <%- include('../layout/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
  <!-- include navbar -->
  <%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
  <main>
    <div class="container">
      <!-- User Info -->
      <div class="d-flex mt-5 justify-content-center align-items-center">
        <img class="col-2" src="https://e7.pngegg.com/pngimages/96/836/png-clipart-elon-musk-sticker-chief-executive-telegram-musk-stick-hand-cartoon.png" alt="user-avatar">
        <div class="user-info m-5">
          <h4>Họ Và Tên: Trịnh Văn Musk</h4>
          <h4>Trạng Thái: Đang làm việc</h4>
        </div>
      </div>
      <!-- button -->
      <div class="d-flex mt-5 justify-content-center align-items-center">
        <button class="btn btn-primary m-2" type="button" data-bs-toggle="collapse" data-bs-target="#check-in" aria-expanded="false" aria-controls="check-in">Điểm Danh</button>
        <button class="btn btn-secondary m-2" type="button" data-bs-toggle="collapse" data-bs-target="#onleave-form" aria-expanded="false" aria-controls="onleave-form">Nghỉ Phép</button>
      </div>
    </div>

    <!-- detail table container -->
    <div class="container">
      <!-- Post checkin-->
      <div class="collapse col-8 offset-2 mt-5" id="check-in">
        <div class="row">
          <% if (true) { %>
          <form action="/checkin" class="checkin-form text-center" method="POST">
            <label class="col-xs-6 col-sm-4"> Chọn nơi làm việc:</label>
            <select class="col-xs-6 col-sm-4" name="worplace" id="worplace">
              <option id="Công Ty">Công Ty</option>
              <option id="Khánh Hàng">Khánh Hàng</option>
              <option id="Nhà">Nhà</option>
            </select>

            <button type="submit" class="btn btn-primary col-xs-12 col-sm-3">Bắt đầu</button>

            <!-- Post Checkout-->
            <% }  else if (status === 'false') { %>
              <form action="/checkout" class="checkin-form" method="POST">
                <label class="col-xs-6 col-sm-4 te" > Nơi làm việc</label>
                <select class="col-xs-6 col-sm-4" name="worplace" id="worplace" disabled="disabled">
                  <option id="Công Ty">Công Ty</option>
                  <option id="Khánh Hàng">Khánh Hàng</option>
                  <option id="Nhà">Nhà</option>
                </select>
              <button type="submit" class="btn btn-danger col-xs-12 col-sm-3 dangerous">Kết thúc</button>
            <% } %>
          </form>
        </div>

        <!-- bootstrap stripe table -->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Workplace</th>
              <th scope="col">Checkin</th>
              <th scope="col">Checkout</th>
              <th scope="col">Total Time</th>
            </tr>
          </thead>
          <tbody>
            <% if (true) { %>
              <tr>
                <td class="col-12 col-sm-4">---</td>
                <td class="col-12 col-sm-2">---</td>
                <td class="col-12 col-sm-2">---</td>
                <td class="col-12 col-sm-2">---</td>
                <td class="col-12 col-sm-2">---</td>
              </tr> 
            <%}
            else {
              let newDate = new Date();
              let dateVal = newDate.toDateString().replace(/^\S+\s/,'')
              let date='';
              let checkinVal='';
              let checkoutVal='';
              let timeSub=0;
              let timeLapse = 0;
              let subTime = 0
              let timeCount = 0
              workHis.forEach(history => {
                let checkDate = history.checkin.toDateString().replace(/^\S+\s/,'');
                if (checkDate === dateVal){
                      if (history.checkin !== null){
                        date = history.checkin.toDateString().replace(/^\S+\s/,'');
                        checkinVal= history.checkin.getHours().toString() + ":" + history.checkin.getMinutes().toString();
                      }
                      if (history.checkout !== null){
                        checkoutVal=history.checkout.getHours().toString() + ":" + history.checkout.getMinutes().toString();
                        timeSub = history.checkout - history.checkin
                        let minutes = Math.floor((timeSub / (1000 * 60)) % 60);
                        let hours = Math.floor((timeSub / (1000 * 60 * 60)) % 24);
                        timeLapse = hours + ":" + minutes
                        subTime += (history.checkout - history.checkin)
                      }
                      else {
                        checkoutVal = 0;
                        timeLapse = 0
                      }         
                %>
                <tr class="row">
                  <td class="col-12 col-sm-4"><%= date %></td>
                  <td class="col-12 col-sm-2"><%= checkinVal %></td>
                  <td class="col-12 col-sm-2"><%= checkoutVal %></td>
                  <td class="col-12 col-sm-2"><%= timeLapse %></td>
                  <td class="col-12 col-sm-2"><%= history.Space %></td>
                </tr> 
              <% 
            }
            })
            let minutes = Math.floor((subTime/(1000*60))%60);
            let hours = Math.floor((subTime/(1000*60*60))%24);
            timeCount = hours + ":" + minutes
            %>
            <tr class="row">
              <th colspan="3">Total time in day</th>
              <td><%= timeCount%></td>
            </tr>
            <%
            }%>
            </tbody>
          </table>
        </div>
          <!-- onleave-form -->
        <div class="collapse col-8 offset-2 mt-5" id="onleave-form">
          <div class="modal-content align-items-center">
            <h4 class="mt-4">BẢNG XIN NGHỈ PHÉP</h4>
  
            <div class="mt-4 text-center">
              <h6>THÔNG TIN</h6>
              <p>Họ và tên: Nguyễn Văn A</p>
              <p>Ngày phép còn lại: 5 ngày</p>
            </div>
            <!-- onleave-time -->
            <div class="col-8">
              <div class="row justify-content-center">
                <div class="mt-3 col-lg-6">
                    <label for="startDate">Chọn Ngày:</label>
                    <input id="startDate" class="form-control" type="date" />
                    <span id="startDateSelected"></span>
                </div>
                <div class="mt-3 col-lg-6">
                  <label for="startDate">Chọn Giờ:</label>
                  <select class="form-select col-lg-6" id="onleave-time">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                  </select>
                </div>
            </div>
            </div>
  
            <!-- onleave reason -->
            <div class="col-8">
              <label for="onleave-reason" class="form-label">Lý do:</label>
              <textarea class="form-control" id="onleave-reason" rows="8"></textarea>
            </div>
            
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Đăng Ký</button>
            </div>
          </div>
        </div>
    </div>
      
  </main>

<!-- ------------------------------------- -->
  <%- include('../layout/end.ejs') %>
</body>
