<%- include('../layout/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
<!-- include navbar -->
<%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
<main>
   <div class="container">
      <div class="row">
        <!-- thông tin covid cá nhân -->
        <div class=" text-center mt-5 justify-content-center align-items-center">
           <h4>THÔNG TIN COVID CÁ NHÂN</h4> 
           <button class="btn btn-primary m-2" type="button" data-bs-toggle="collapse" data-bs-target="#vaccine-info" aria-expanded="false" aria-controls="vaccine-info">Thông tin Vaccine</button>
           <button class="btn btn-success m-2" type="button" data-bs-toggle="collapse" data-bs-target="#temperature-info" aria-expanded="false" aria-controls="temperature-info">Thông tin Thân Nhiệt</button>
        </div>
    
        <!-- vaccine-info-form -->
        <form action="/vaccine-info" method="POST" class="collapse col-8 offset-2 mt-5" id="vaccine-info">
         <div class="modal-content align-items-center">
           <h4 class="mt-4">BẢNG THÔNG TIN VACCINE</h4>
 
           <div class="mt-4 text-center">
             <h5>Họ và tên: <%= user.name %></h5>
           </div>
           <div class="col-8">
             <div class="row justify-content-center">
               <div class="mt-3 col-lg-6">
                   <label for="injectDate">Ngày Tiêm:</label>
                   <input id="injectDate" name="injectDate" class="form-control" type="date"/>
                   <div><span class="inject-date-validated text-danger"></span></div>
               </div>
               <div class="mt-3 col-lg-6">
                 <label for="vaccineNumber">Mũi Thứ:</label>
                 <select class="form-select col-lg-6" name="vaccineNumber" id="vaccineNumber" >
                   <option value="0">Chọn mũi tiêm</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5">5</option>
                   <option value="6">6</option>
                 </select>
               <span id="alert-vaccine-number" class="validated text-danger"> </span>
               </div>
               <div class="mt-3 col-lg-12">
                  <label for="vaccine-type">Nhà Sản Xuất:</label>
                  <select class="form-select col-lg-6" name="vaccineType" id="vaccineType" >
                    <option value="0">Chọn nhà sản xuất</option>
                    <option value="Astra Zeneca">Astra Zeneca</option>
                    <option value="Spunik V">Spunik V</option>
                    <option value="Vero Cell">Vero Cell</option>
                    <option value="Pfizer">Pfizer</option>
                    <option value="Moderna">Moderna</option>
                  </select>
                <span id="alert-vaccine-type" class="validated text-danger"> </span>
                </div>
            </div>
           </div>
           
           <div class="modal-footer">
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
             <button type="submit" class="btn btn-primary" id="vaccine-info-submit">Đăng Ký</button>
             <a href="/user-covid-info/<%= user._id %>" class="btn btn-success" id="download-vaccine-info">Tải PDF</a>
           </div>
         </div>

         <!-- vaccine info stripe table -->
       <table class="table table-striped table-hover">
         <thead>
           <tr>
             <th scope="col">Ngày Tiêm</th>
             <th scope="col">Mũi Thứ</th>
             <th scope="col">Nhà Sản Xuất</th>
           </tr>
         </thead>
         <tbody>
            <% if (user.vaccineInfo.length === 0) { %>
             <tr>
               <td class="col-12 col-sm-4">--</td>
               <td class="col-12 col-sm-2">--</td>
               <td class="col-12 col-sm-2">--</td>
             </tr> 
            <% } else { %>
               <% for (let vaccine of user.vaccineInfo) { 
                  let injectedDate = vaccine.injectDate.toDateString().replace(/^\S+\s/,'');
               %>
               <tr>
                  <td class="col-12 col-sm-4"><%= injectedDate %></td>
                  <td class="col-12 col-sm-2"><%= vaccine.vaccineNumber %></td>
                  <td class="col-12 col-sm-2"><%= vaccine.vaccineType %></td>
               </tr>
               <% } %>
            <% } %>
           </tbody>
         </table>
       </form>

       <!-- temperature-info-form -->
        <form action="/temperature-info" method="POST" class="collapse col-8 offset-2 mt-5" id="temperature-info">
         <div class="modal-content align-items-center">
           <h4 class="mt-4">BẢNG THÔNG TIN THÂN NHIỆT</h4>
 
           <div class="mt-4 text-center">
             <h5>Họ và tên: <%= user.name %></h5>
           </div>
           <div class="col-8">
             <div class="row justify-content-center">
               <div class="mt-3 col-lg-6">
                   <label for="declareDate">Ngày Khai Báo:</label>
                   <input id="declareDate" name="declareDate" class="form-control" type="date"/>
                   <div><span class="declare-date-validated text-danger"></span></div>
               </div>
               <div class="mt-3 col-lg-6">
                  <label for="declareTime">Giờ Khai Báo:</label>
                  <input id="declareTime" name="declareTime" class="form-control" type="time" />
                  <div><span class="time-validated text-danger"></span></div>
               </div>
               <div class="mt-3 col-lg-6">
                  <label for="bodyTemperature">Nhiệt Độ:</label>
                  <input class="form-control col-lg-6" name="bodyTemperature" id="bodyTemperature" type="number" step="0.1"/>
                  <span id="alert-body-temperature" class="validated text-danger"> </span>
                </div>
                <div class="mt-3 col-lg-6">
                  <label for="healthStatus">Tình Trạng Sức Khỏe:</label>
                  <select class="form-select col-lg-6" name="healthStatus" id="healthStatus" >
                     <option value="0">Vui Lòng Chọn</option>
                     <option value="Tốt - Không Nhiễm Bệnh">Tốt - Không Nhiễm Bệnh</option>
                     <option value="Không Khỏe - Không Nhiễm Bệnh">Không Khỏe - Không Nhiễm Bệnh</option>
                     <option value="Đang Nhiễm Covid">Đang Nhiễm Covid</option>
                   </select>
                  <span id="alert-health-status" class="validated text-danger"> </span>
                </div>
            </div>
           </div>
           
           <div class="modal-footer">
             <input type="hidden" name="_csrf" value="<%= csrfToken %>">
             <button type="submit" class="btn btn-success" id="temperature-info-submit">Khai Báo</button>
           </div>
         </div>

         <!-- vaccine info stripe table -->
       <table class="table table-striped table-hover">
         <thead>
           <tr>
             <th scope="col">Ngày Khai Báo</th>
             <th scope="col">Giờ Khai Báo</th>
             <th scope="col">Nhiệt Độ</th>
             <th scope="col">Tình Trạng Sức Khỏe</th>
           </tr>
         </thead>
         <tbody>
            <% if (user.bodyTemperatureInfo.length === 0) { %>
             <tr>
               <td class="col-12 col-sm-2">--</td>
               <td class="col-12 col-sm-2">--</td>
               <td class="col-12 col-sm-2">--</td>
               <td class="col-12 col-sm-2">--</td>
             </tr> 
             <% } else { %>
               <% for (let temperature of user.bodyTemperatureInfo) { 
                  let declaredDate = temperature.declareDate.toDateString().replace(/^\S+\s/,'');
               %>
               <tr>
                  <td class="col-12 col-sm-2"><%= declaredDate %></td>
                  <td class="col-12 col-sm-2"><%= temperature.declareTime %></td>
                  <td class="col-12 col-sm-2"><%= temperature.bodyTemperature %></td>
                  <td class="col-12 col-sm-2"><%= temperature.healthStatus %></td>
                </tr> 
               <% } %>
            <% } %>
           </tbody>
         </table>
       </form>
       <!-- thông tin covid nhân viên -->
       <% if (isAuth && user.accountType === 'admin') { %>
        <div class=" text-center mt-5 justify-content-center align-items-center">
          <h4>THÔNG TIN COVID NHÂN VIÊN</h4>
          <br>
          <!-- loop userList -->
          <% for (let user of userList) { %>
            <h5>Tên Nhân Viên: <%= user.name %></h5>
            <!-- staff vaccine info stripe table -->
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Ngày Tiêm</th>
                  <th scope="col">Mũi Thứ</th>
                  <th scope="col">Nhà Sản Xuất</th>
                </tr>
              </thead>
              <tbody>
                <% if (user.vaccineInfo.length === 0) { %>
                  <tr>
                    <td class="col-12 col-sm-4">--</td>
                    <td class="col-12 col-sm-2">--</td>
                    <td class="col-12 col-sm-2">--</td>
                  </tr> 
                <% } else { %>
                    <% for (let vaccine of user.vaccineInfo) { 
                      let injectedDate = vaccine.injectDate.toDateString().replace(/^\S+\s/,'');
                    %>
                    <tr>
                      <td class="col-12 col-sm-4"><%= injectedDate %></td>
                      <td class="col-12 col-sm-2"><%= vaccine.vaccineNumber %></td>
                      <td class="col-12 col-sm-2"><%= vaccine.vaccineType %></td>
                    </tr>
                    <% } %>
                <% } %>
                </tbody>
              </table>
            <% } %>
       </div>
      <% } %>
      </div>
   </div>
</main>

<!-- ------------------------------------- -->
<%- include('../layout/end.ejs') %>
</body>