<%- include('../layout/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
<!-- include navbar -->
<%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
<main>
   <div class="container">
      <div class="d-flex mt-5 justify-content-center align-items-center">
         <img class="mb-3 col-4 col-sm-6 col-xs-12" src="<%= user.image %>" alt="<%= user.name %>">
         <form action="/user-info" class="m-5 col-sm-6 col-xs-12 col-6" method="POST">
            <h4 class="mt-5">Thông Tin Cá Nhân:</h4>
            <br>
            <h6 id="user-id">User ID: <%= user._id %></h6>
            <h6 id="user-name">Họ và Tên: <%= user.name %></h6>
            <h6 id="user-dob">Ngày sinh: <%= user.doB %></h6>
            <h6 id="user-salaryScale">Salary Scale: <%= user.salaryScale %></h6>
            <h6 id="user-startDate">Ngày bắt đầu: <%= user.startDate %></h6>
            <h6 id="user-department">Nơi làm việc: <%= user.department %></h6>
            <h6 id="user-annualLeave">Phép Năm: <%= user.annualLeave %> Ngày</h6>
            <label for="imageUrl" class="form-label">Avatar URL</label>
            <input type="text" class="form-control" name="imageUrl" id="imageUrl">
            <button class="btn btn-primary mt-2" type="submit">Change</button>
         </form>
      </div>
   </div>
</main>

<!-- ------------------------------------- -->
<%- include('../layout/end.ejs') %>
</body>