<%- include('../layout/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<title>Funix-ASM1</title>
</head>
<!-- ------------------------------------- -->

<body>
<!-- include navbar -->
<%- include('../layout/navbar.ejs') %>
<!-- ------------------------------------- -->
<main>
   <div class="container">
      <div class="row">
         <div class="nav nav-tabs" id="nav-tab" role="tablist" >
            <% const tabName = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
           const getToDate = new Date();
           const getMonthOfToDate = getToDate.getMonth();
           for(let i = 0; i< tabName.length; i++) {
            if(i !== getMonthOfToDate ){ %>
               <p class="nav-link" id="<%=tabName[i]%>-tab" data-bs-toggle="tab" data-bs-target="#<%=tabName[i]%>" type="a" role="tab" aria-controls="<%=tabName[i]%>" aria-selected="false" onchange="eventForm(event)"><%=tabName[i]%></p>
            <% } else { %>
              <p class="nav-link active" id="<%=tabName[i]%>-tab" data-bs-toggle="tab" data-bs-target="#<%=tabName[i]%>" type="p" role="tab" aria-controls="<%=tabName[i]%>" aria-selected="true" onchange="eventForm(event)"><%=tabName[i]%>
               </p>
            <% }}  %>
         </div>
         <table class="tab-content row" id="nav-tabContent" >
            <tr class="row">
               <th class="col-sm-12 col-md-2">Date</th>
               <th class="col-sm-12 col-md-1">Checkin</th>
               <th class="col-sm-12 col-md-1">Checkout</th>
               <th class="col-sm-12 col-md-2">Nơi Làm Việc</th>
               <th class="col-sm-12 col-md-2">TimeCount</th>
               <th class="col-sm-12 col-md-2">Over Time</th>
               <th class="col-sm-12 col-md-2">Annual Registed</th>
            </tr>

            <% if (workHistories.length > 0) { %>
               <% workHistories.forEach( workHistory => { %>
                  <tr class="row">
                     <td class="col-sm-12 col-md-2"><%= workHistory.date %></td>
                     <td class="col-sm-12 col-md-1">

                     </td>
                  
                   <td class="col-sm-12 col-md-2"> <%= workHistory.annual %> </td>
               <% })
            } %>
            </tr>
         </table>
      </div>
   </div>
</main>

<!-- ------------------------------------- -->
<%- include('../layout/end.ejs') %>
</body>